<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.ibs.training.greetings.SimpleGreetings" id="simpleGreetings" >
	<constructor-arg name="name" value="madhu"   />
</bean>

<bean class="com.ibs.training.greetings.NiceGreetings" id="niceGreetings" >
	<property name="name" value="name" />
	<property name="greetingService" ref="greeting" />
	
</bean>
<bean class="com.ibs.training.greetings.GreetingService" id="greeting" />

<alias name="simpleGreetings" alias="greetings"/>

</beans>
